h1 { 
    color: cadetblue;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color: black;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: rgb(30, 110, 73);
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}