*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    width: auto;
    background-color: #8b288b;
}
/*---header---*/
h1{
    color:#5c045c;
}
.abrirMenu{
    display: none;
}
.cerrarMenu{
    display: none;
}
.cabeza{
    background-color: #5c045c;
    height: 110px;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    grid-area: cabeza;
}
.searchBar{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.searchBar h1{
    width: 60%;
    font-size: 50px;
    font-family: kaushan script; 
    font-style:initial;
    text-align:left;
    margin-bottom: 55px;
    margin-left: 20px;
    margin-top: 20px;
    align-items: left;
    cursor: pointer; 
}
.searchBar ul{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    margin-bottom: 25px;
    height: 40px;
}
#noResults{
    font-family: alata;
    font-size: 40px;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    color: white;
    display: none;
}
#buscador{
    margin-right: 100px;
    height: 40px;
    width: 500px;
    border-radius: 6px;
    border: 3px solid rgb(103, 69, 112);
    margin-bottom: 25px;
    padding-left: 5px;
    font-family: alata;
}

.cabeza nav h1 a{
    text-decoration: none;
    color:white;
}

.cabeza nav ul li{
    list-style-type: none;
    margin-top: 5px;
}
.cabeza nav ul li a{
    text-decoration: none;
    font-family: alata;
    font-size: 20px;
    font: weight 50px;
    color: rgb(255, 255, 255);
    padding: 5px;
    top: 70px;
    margin-inline: 10px;
    transition: font-size 1s;
}
.cabeza nav ul li a:hover{
    font-size: 25px;
}
#userName{
    font-family: alata;
    font-size: 20px;
    color: rgb(255, 255, 255);
    padding: 5px;
    top: 70px;
    margin-bottom: 25px;
    margin-inline: 10px;
}
.botones{
    justify-content: flex-end;
    width: 30%;
}
.icon{
    display: inline-block;
    background-color: transparent;
    height: min-content;
    width: min-content;
    justify-content: flex-end;
    align-items: center;
    margin-inline: 10px;
    margin-bottom: 25px;
}
.icon img{
    height: 50px;
    width: 50px;}

#accion{
    display: none;
    position: absolute;
    list-style: none;
    width: auto;
    padding: 5px 0px;
    height: auto;
}
#user:hover .acciones{
    background-color:#8b288b;
    display: block;
}
/*---carrousel---*/
.carousel{
    width: 1200px;
    height: 800px;
    margin-inline: auto;
    align-content: center;
    grid-area: carousel;}
    .carousel-caption h5{
        background-color: #8b288b85;
        border-radius: 10px;
        opacity: 1;
        height: min-content;
        font-family: alata;
        font-size: 100px;
        color: rgb(255, 255, 255);
        margin-top: 400px;
    }
    #caption1{
        padding-bottom: 300px
    }
    #caption2{
        padding-bottom: 250px;
    }
    #caption3{
        padding-bottom: 250px
    }
.d-block{
    width: 1400px;
    height: 800px;
}

/*----carrito----*/
/* #carrito{
    margin-top: 150px;
}
#carrito h2{
    margin-left: 30px;
    font-size: 40px;
    font-family: alata;
    color: white;
}
.subtotales{
    justify-self: flex-end;
    justify-content: flex-end;
    background-color: white;
    border-radius: 6px;
    margin-right: 150px;
    margin-top: 20px;
    width: 200px;
    height: 300px;
}
.subtotales h3{
    font-family: alata;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}
.subtotales p{
    justify-self: flex-end;
    margin-right: 20px;
    font-family: alata;
    font-size: 30px;
}
.subtotales a{
    display: block;
    border: 3px solid #5c045c;
    border-radius: 6px;
    background-color: #5c045c;
    color: white;
    text-decoration: none;
    margin: 10px 20px;
    padding: 5px 5px;
    width: auto;
    font-family: alata;
}
 */
    
    
/*---categorias---*/
.categorias{
    background-color: #8b288b;
}
.categorias h2{
    padding-top: 40px;
    font-family: alata;
    font-size: 50px;
    margin-left: 20px;
    color: white;
}
.gridCategorias{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items:center;
    align-items: stretch;
    width:auto;
    grid-area: categorias;
}
.gridCategorias div{
    font-family:alata;
    width: 325px;
    height: 325px;
    margin-inline: 30px;
    margin-top: 50px;
    border-radius: 5px;
    transition: box-shadow 1s;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    margin-bottom: 50px;
}
.gridCategorias div img{
    border-radius: 6px;
    width: 100%;
    height: 100%;
    
}
.gridCategorias div:hover{
    box-shadow: 1px 2px 14px 2px rgb(139, 62, 120);
}
.gridCategorias div a{
    background-color: #a77aa78a;
    border-radius: 5px;
    position: absolute;
    text-decoration: none;
    color:#500650;
    font-size: 30px;
    transform: scale(2, 2);
    transition: font-size 1s;
    padding: 5px 5px;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.categorias div a:hover{
    font-size: 25px;
}

/*---info açaí---*/

.info{
    display: grid;
    grid-template-columns: 2fr 2fr;
    justify-items:center;
    align-items: stretch;
    grid-area: datos;
    font-family: alata;
    color: #ffffff;
    background-color: #8b288b;
}
.info div{
    width: 500px;
    margin-top: 50px;
    margin-left: 60px;
}
#img-acai{
    width:700px;
    height: 500px;
    margin-bottom: 50px;
}
#img-acai img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
}
#texto{
    align-content: center;
}
#info-titulo{
    font-size: 50px;
    margin-bottom: 20px;
}
#texto p{
    font-size: 20px;
}

/*----info contacto-----*/
.mas-info{
    background-color: #8b288b;
}
.gridInfo{
    display: grid;
    grid-template-rows: 2fr 2fr;
    font-family: alata;
    color: white;
}
.gridItem{
    display: flex;
    justify-content: flex-end;
}
.gridBar{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-self: center;
    background-color: #b88eb8;
    border-radius: 8px;
    width: max-content;
    height: min-content;
    padding: 20px 20px;
}
#leftItem{
    border-right: 3px solid white;
    padding-right: 20px;
}
#rightItem{
    padding-left: 20px;
}
.gridItem div{
    display: block;
    align-content: center;
    margin-left: 10px;
}
.gridItem img {
    height: 80px;
    width: 80px;
}
/*-----footer------*/
#pie{
    background-color: #500650;
    font-family: alata;
    color: white;
    display: grid;
    grid-template-columns: 2fr 2fr;
    bottom: 0px;
}
.redes h2{
    font-size: 40px;
    padding-top: 40px;
    margin-left: 30px;
    margin-bottom: 30px;
}
.redes div{
    width: max-content;
}
.redes div a{
    display: block;
    margin-block: 10px;
    margin-left: 50px;
    width: max-content;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.redes div a img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
}
.formulario{
    margin-bottom: 100px;
}
.formulario h1{
    margin-top: 30px;
    color: white;
}
.formulario form div input{
    margin-block: 10px;
}
/*----productos-----*/
.gridProductos{
    margin-top: 150px;
    font-family: 'poppins';
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 40px;
}
#productos{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 30px;
    justify-content: center;
    justify-items:center ;
    grid-area: productos;
}
.card{
    border: 2px solid rgb(255, 255, 255);
    background-color: white;
    border-radius: 5px;
    width: 255px;
    height:350px;
    transition: box-shadow 1s;
    align-content: center;
    font-family: alata;
    color:#290229;
    
}
#boton{
    display: flex;
    justify-self: flex-end;
    align-content: center;
    text-decoration: none;
    color:rgb(255, 255, 255);
    background-color: #8b288b;
    border: 2px solid #8b288b;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 5px 5px;
    height: auto;
    border-radius: 6px;
    cursor: pointer;
}
.card h3{
    display: flex;
    justify-content: left;
}
.card h4{
    display: flex;
    justify-items: flex-start;
}
.card h5{
    display: flex;
    justify-items: flex-start;
    margin-bottom: 10px;
}
.card img{
    width: 251px;
    height: 225px;
    border-radius: 6px;
    justify-content: center;
}
/*---pagina de compra----*/
#seccionCompras{
    margin-top: 150px;
}
#nombreProducto{
    font-family: kaushan script;
    margin-left: 50px;
    font-size: 50px;
    color: white;
}
.pagCompras{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-column-gap: 20px;
    font-family: alata;
    color: white;
    grid-area: compras;
}

#imagen{
    background-color: beige;
    height: 600px;
    width: 600px;
    margin-left: 70px;
}
.purchInfo{
    margin-left: 30px;
}
#precio{
    margin-top: 100px;
    font-size: 40px;
}
#cuotas{
    margin-top: 30px;
    height: 40px;
    width: 100px;
    border-radius: 6px;
    border: solid white;
}
#cantButton{
    height: min-content;
    margin-top: 30px;
    display: flex;
    align-content: center;
    margin-bottom: 30px;
    margin-right: 50px;
}
#cantButton h3{
    font-size: 30px;
    margin-top: 0;
}
#cantButton button{
    margin-bottom: 0;
    align-content: center;
    margin-left: 10px;
    height: 30px;
    width: 30px;
    border-radius: 4px;
}

.counter{
    margin-left: 10px;
    align-content: center;
}
.purchInfo a{
    border: 2px solid white;
    border-radius: 6px;
    background-color: white;
    color: #290229;
    text-decoration: none;
    margin-top: 30px;
    padding: 5px 10px;
}
.purchInfo h3{
    margin-top: 30px;
}

/*----registro-----*/

.cuenta {
    font-family: alata;
    margin-top: 150px;
    margin-left: 40px;
}
.cuenta h2{
    font-size: 50px;
    color: white;
}
.form{
    margin-top: 20px;
    margin-left: 30px;
    color: white;
    display: block;
}
.form div{
    width: max-content;
    margin-bottom: 10px;
}
.form div input{
    display: block;
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 6px;
    height: 40px;
    width: 300px;
}
#crearCuenta{
    font-family: alata;
    font-size: 20px;
    color: white;
    background-color: #500650;
    border-radius: 6px;
    width: auto;
    padding: 5px 10px;
    cursor: pointer;
}
#ingresar{
    height: 40px;
    font-family: alata;
    font-size: 20px;
    color: white;
    background-color: #500650;
    border-radius: 6px;
    width: auto;
    padding: 5px 10px;
    cursor: pointer;
    pointer-events: visible;
}
#warnings{
    display: none;
    font-size: 20px;
    color: rgb(209, 139, 160);
    margin-bottom: 10px;
}
#bienvenida{
    display: flex;
    justify-self: end;
    align-self:self-start;
    font-family: alata;
    font-size: 50px;
    color: white;
    margin-right: 100px;
}

/*-----carrito------*/
#cartIcon{
    height: 50px;
    position: relative;
}
#carrito{
    font-family: alata;
    display: none;
    position: absolute;
    list-style: none;
    width: 500px;
    padding: 5px 0px;
    height: auto;
    top:100%;
    z-index: 1;
    right: 0px;
    margin-top: 0px;
    background-color:#9c529c;
    border: 3px solid #c798c7;
    border-radius: 8px;
}

#cartIcon:hover #carrito{
    display: block;
} 

#datosProducto tr{
    display: flex;
    justify-content: start;
}
.borrar{
    height: 30px;
    width: 30px;
    align-self: center;
    background-color: transparent;
}
#datosProducto th{
    display: flex;
    font-family: alata;
    color: white;
    justify-content: start;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-inline: 20px;
}
#datosProducto h3{
    display: flex;
    color: white ;
}
#imgProducto{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
#imgProducto img{
    border-radius: 6px;
}
#datosProducto h3{
    margin-right: 20px;
}
#emptyCart{
    display: block;
    border: 3px solid #5c045c;
    border-radius: 6px;
    background-color: #6e206e;
    color: white;
    text-decoration: none;
    margin: 10px 20px;
    padding: 5px 5px;
    width: auto;
    font-family: alata;
    justify-self: center;
    cursor: pointer;
}
#carrito div a{
    display: block;
    border: 3px solid #5c045c;
    border-radius: 6px;
    background-color: #6e206e;
    color: white;
    text-decoration: none;
    margin: 10px 20px;
    padding: 5px 5px;
    width: auto;
    font-family: alata;
    justify-self: center;
    cursor: pointer;
}
#itemDatos th{
    display: flex;
    margin-inline: 10px;
}

/*----otras páginas----*/
.titulo{
    margin-top: 150px;
    margin-left: 40px;
    font-family: alata;
    font-size: 50px;
    color: white;
}
.parrafo{
    font-family: alata;
    color: white;
    font-size: 20px;
    display: block;
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 300px;
}
.parrafo p{
    margin-block: 10px;
}

/*-----contacto-----*/
.contacto{
    display: grid;
    grid-template-columns: 2fr 2fr;
    font-family: alata;
    color: white;
    margin-top: 40px;
}
.contacto div ul{
    margin-left: 300px;
}
.contacto div ul li {
    display: flex;
    width: 100%;
}
.icono{
    height: min-content;
    width: min-content;
}
.icono img{
    width: 30px;
    height: 30px;
}
.formulario div{
    margin-block: 10px;
}
.formulario div input{
    font-size: 25px;
        display: block;
        background-color: rgba(255, 255, 255, 0.493);
        border-radius: 6px;
        height: 40px;
        width: 400px;
}
#mensaje{
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 6px;
    width: 400px;
    margin-bottom: 20x;
}


.cuenta div div h2{
    font-size: 25px;
    margin-bottom: 10px;
}
.mail{
    display: block;
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 6px;
    height: 40px;
    width: 300px;
}
.select input{
    border-radius: 10px;
    width: min-content;
    height: 15px;
    align-self: center;
    margin-right: 10px;
}
.select{
    color: white;
    display: flex;
    margin-block: 10px;
}
.select h4{
    margin-left: 50px;
}
/*---Checkout---*/
#continuar{
    margin-top: 30px;
    font-family: alata;
    font-size: 20px;
    background-color: #500650;
    border-radius: 6px;
    width: auto;
    padding: 5px 10px;
    cursor: pointer;
}
.cuenta div button a{
    text-decoration: none;
    color: white;
}
.cuenta div{
    margin-block: 10px;
}


.facturacion div input{
    font-size: 25px;
        display: block;
        background-color: rgba(255, 255, 255, 0.493);
        border-radius: 6px;
        height: 40px;
        width: 400px;
}
.facturacion div label{
    color: white;
    position: relative;
}
.facturacion select{
    font-size: 25px;
    color:#290229;
    font-family: alata;
        display: block;
        background-color: rgba(255, 255, 255, 0.493);
        border-radius: 6px;
        height: 40px;
        width: 400px;
}
.mediosDePago h2{
    font-size: 30px;
}
.pago{
    font-family: alata;
    color: white;
}
.info-cliente{
    margin-top: 150px;
    margin-left: 70px;
    width: 500px;
    border: #b88eb8 solid 3px;
    border-radius: 8px;
}
.info-cliente div{
    display: flex;
    margin-left: 20px;
    margin-block: 20px;
}
.info-cliente div h3{
    align-self: center;
    margin-left: 10px;
}
.info-cliente div img{
    height: 50px;
    width: auto;
}
.mediosDePago{
    margin-left: 70px;
    margin-top: 30px;
}
.mediosDePago ul li{
    list-style: none;
    font-size: 20px;
}
.mediosDePago ul li input{
    margin-right: 10px;
}
.alertas{
    display: none;
    font-size: 20px;
    color: rgb(209, 139, 160);
    margin-bottom: 10px;
}
.alertas-activa{
    display: block;
}
#finalizarCompra{
    margin-top: 30px;
    font-family: alata;
    font-size: 20px;
    background-color: #500650;
    border-radius: 6px;
    width: auto;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 70px;
    color: white;
    margin-bottom: 50px;
}
#carrito-resumen{
    width: auto;
    margin-top: 200px;
    margin-right: 80px;
    border: solid 3px #b88eb8; 
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom: solid #b88eb87e;
}
.carrito-info{
    color: white;
    font-family: alata;
}
#totales{
    border: solid #b88eb8 3px;
    margin-right: 80px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: thin;
}
#totales table tbody {
    font-size: 18px;
}
#totales table tbody tr{
    display: flex;
    margin-left: 20px;
}
.envio{
    display: flex;
    margin-left: 20px;
}
.envio td{
    margin-right: 80px;
    justify-content: space-around;
}
#total{
    font-size: 25px;
}
.resumen-producto{
    display: flex;
    padding-inline: 10px;
    margin-block: 20px;
}
.resumen-producto h3{
    margin-inline: 10px;
}
.resumen-producto img{
    width: auto;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}
#subtotal{
    position: inherit;
}
.checkout{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/*---formulario de pago---*/
#tarjeta-form{
    display: none;
}
#tarjeta-form input{
    font-size: 20px;
    font-family: alata;
    color: white;
    display: block;
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 6px;
    height: 40px;
    width: 400px;
    margin-block: 10px;
    padding-left: 8px;
}
#tarjeta-form select{
    font-size: 20px;
    font-family: alata;
    color: rgb(90, 90, 90);
    display: block;
    background-color: rgba(255, 255, 255, 0.493);
    border-radius: 6px;
    height: 40px;
    width: 400px;
    margin-block: 10px;
}
#tarjeta-form input [placeholder]{
    color: rgb(255, 255, 255);
}
#row{
    display: flex;
}
#row input{
    width: 195px;
}

.swal2-title{
    font-family: alata;
    color: #500650;
}
.swal2-html-container{
    font-family: alata;
    color: #5c045c;
}